* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

h1 {

    font-size: 60px;
}

h2 {
    font-size: 45px;
}


.flex-section {
    display: flex;
}

.big-image-area {
    background: rgba(35, 33, 45, 0.538) url("images/donation4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;

}


.big-image-text {
    color: rgb(255, 255, 255);
    width: 100%;
    margin: 15% 20%;
    text-align: center;
}

.big-image-text p {
    text-align: center;
    margin-left: 100px;
    width: 80%;
}

.donate-button {
    margin-top: 40px;
}

.link-design {
    font-size: 40px;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 3px;
    background-color: rgb(255, 89, 89);
}

.donate-area {
    margin-top: 150px;
    height: 100px;
    width: 100%;
}

.donate-text {
    margin: 0 auto;
    text-align: center;
}

.donate-text p {
    color: rgb(157, 157, 157);
}

.donation-amount {
    justify-content: center;
}

.amount {
    border-radius: 3px;
    padding: 20px;
    margin-left: 2%;
    margin-right: 2%;
    padding: 20px;
    background-color: rgb(247, 237, 237)
}

#default-amount {
    border: 2px solid rgb(255, 89, 89);
    color: rgb(255, 89, 89);
}

.input-design {
    padding-top: 100px;
}

.input {
    margin: 0 auto;
    padding: 20px;
    font-size: large;
    width: 800px;
    border: none;
    text-align: center;
    background: transparent;
    border-bottom: 1px dotted rgb(218, 218, 218);
    background-repeat: no-repeat;
}

.input-design a {
    text-align: center;
}

.second-donate-button {
    margin: 0 auto;
    padding-top: 20px;
}

.donate-plan-area {
    margin: 0 auto;
    text-align: center;
}

.donate-plan-area p {
    color: rgb(157, 157, 157);
}

.plan-one {
    padding: 20px;
    height: 100%;
    margin-left: 20px;
    margin-right: 2%;
    padding: 40px 80px 40px 80px;
    background-color: rgb(251, 250, 250);
}

.plan-two {
    padding: 20px;
    height: 100%;
    margin-left:20px;
    margin-right: 2%;
    padding: 40px 80px 40px 80px;
    background-color: rgb(255, 238, 238);
}

.plan-three {
    padding: 20px;
    height: 100%;
    margin-left: 20px;
    margin-right: 2%;
    padding: 40px 80px 40px 80px;
    background-color: rgb(255, 244, 214);
}