* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

h1 {

    font-size: 70px;
}

h2 {
    font-size: 50px;
}

.div {
    display: block;
}

.flex-section {
    display: flex;
    justify-content: center;
}

.big-image-area {
    background: rgba(35, 33, 45, 0.538) url("images/donation4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;

}


.big-image-text {
    color: rgb(255, 255, 255);
    width: 100%;
    margin: 15% 20%;
    text-align: center;
}

.big-image-text p {
    text-align: center;
    margin-left: 100px;
    width: 80%;
}

.donate-button {
    margin-top: 40px;
}

.link-design {
    font-size: 30px;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 3px;
    background-color: rgb(255, 89, 89);
}

.donate-area {
    margin-top: 150px;
    height: 100px;
    width: 100%;
}

.donate-text {
    margin: 0 auto;
    text-align: center;
}

.donate-text p {
    color: rgb(157, 157, 157);
}

.donation-amount {
    justify-content: center;
}

.amount {
    border-radius: 3px;
    padding: 20px;
    margin-left: 2%;
    margin-right: 2%;
    padding: 20px;
    background-color: rgb(247, 237, 237)
}

#default-amount {
    border: 2px solid rgb(255, 89, 89);
    color: rgb(255, 89, 89);
}

.input-design {
    padding-top: 100px;
}

.input {
    margin: 0 auto;
    padding: 20px;
    font-size: large;
    width: 800px;
    border: none;
    text-align: center;
    background: transparent;
    border-bottom: 1px dotted rgb(218, 218, 218);
    background-repeat: no-repeat;
}

.input-design a {
    text-align: center;
}

.second-donate-button {
    margin: 0 auto;
    padding-top: 20px;
}

.donate-plan-area {
    margin: 0 auto;
    text-align: center;
}

.donate-plan-area p {
    color: rgb(157, 157, 157);
}

.plan-one {
    padding: 20px;
    height: 100%;
    margin-left: 200px;
    margin-right: 50px;
    padding: 40px 80px 40px 80px;
    border-radius: 4px;
    background-color: rgb(251, 250, 250);
}

.plan-two {
    padding: 20px;
    height: 100%;
    margin-left: 50px;
    margin-right: 50px;
    padding: 40px 80px 40px 80px;
    border-radius: 4px;
    background-color: rgb(255, 238, 238);
}

.plan-three {
    padding: 20px;
    height: 100%;
    margin-left: 50px;
    margin-right: 200px;
    padding: 40px 80px 40px 80px;
    border-radius: 4px;
    background-color: rgb(255, 244, 214);
}

.midlle-area-one {
    margin-top: 10%;
    margin-left: 200px;
    height: 70%;
}

.midlle-area-one img {
    border-radius: 7px;
    width: 70%;
    height: 100%;
    margin-left: 50px;
}

.midlle-area-two {
    margin-top: 10%;
    margin-right: 200px;
    height: 100%;

}

.midlle-area-two img {
    border-radius: 7px;
    width: 50%;
    height: 100%;
    margin-left: 200px;
    margin-right: 10px;
}

.last-area {
    margin-top: 100px;
    text-align: center;
}

.subscription {
    background-color: #FFF4D6;
    width: 52%;
    margin: 40px auto;
    padding: 2px;
}

.extra-margin {
    margin: 80px 30px;
    text-align: center;
}

.subs-email {
    border: none;
    width: 40%;
    padding: 15px 10px;
    margin-right: -5px;
    background-color: rgb(217, 217, 217);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.subs-button {
    border: none;
    width: 30%;
    padding: 15px 10px;
    margin-right: -6px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: aliceblue;
    background-color: rgb(254, 89, 89);
}

footer {
    padding: 35px;
    background-color: black;
    text-align: center;
}

footer h2 {
    font-family: 'Silkscreen', cursive;
    color: rgb(255, 89, 89);
}

footer p {
    color: aliceblue;
}