* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

h1 {

    font-size: 60px;
}
h2{
    font-size: 45px;
}


section {
    display: flex;
}

.big-image-area {
    background-image: url("images/donation4.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}


.big-image-text {
    color: rgb(255, 255, 255);
    width: 100%;
    margin: 15% 20%;
    text-align: center;
}

/* .big-image-text h1{
    
} */
.big-image-text p {
    text-align: center;
    margin-left: 100px;
    width: 80%;
}

.donate-button {
    margin-top: 40px;
}

.link-design {
    font-size: 40px;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 3px;
    background-color: rgb(255, 89, 89);
}

.donate-area{
    height: 600px%;
}
.donate-text{
    margin:0 auto;
    text-align: center;
}